@model qVisitor.Models.qvEntrancePhoto

@{
    ViewData["Title"] = "Edit";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Изменить фотографию</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="btn-group btn-breadcrumb" style="padding-bottom:20px;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a asp-controller="qvCheckPoints" asp-action="Index" class="btn btn-default">КПП</a>
        <a href="#" class="btn btn-default">@Model.Entrance.CheckPoint.Name</a>
        <a asp-controller="qvCheckPoints" asp-action="Details" asp-route-id="@Model.Entrance.CheckPointId" class="btn btn-default"> Посещения </a>
        <a href="#" class="btn btn-default">Посещение №@Model.EntranceId</a>
        <a asp-controller="qvEntrances" asp-action="Details" asp-route-id="@Model.EntranceId" class="btn btn-default"> Посещения </a>
        <a href="#" class="btn btn-default">Изменить фотографию</a>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Изменить фотографию
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="EntranceId" class="control-label col-md-2">Посещение</label>
                                <div class="col-md-10">
                                    <select asp-for="EntranceId" class="form-control" asp-items="ViewBag.EntranceId"></select>
                                    <span asp-validation-for="EntranceId" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo" class="col-md-2 control-label">Фотография</label>
                                <div class="col-md-10">
                                    <input type="file" asp-for="Photo" class="form-control" />
                                    <span asp-validation-for="Photo" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Сохранить" class="btn" />
                                    <a style="color:#333;" asp-controller="qvEntrances" asp-action="Details" asp-route-id="@Model.EntranceId">
                                        <button type="button" class="btn">Отменить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.row -->
                <!-- /.row -->

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}