@{
    ViewData["Title"] = "Locked out";
}

@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_RegLayout.cshtml";
}


<body style="background:url('../images/222.jpg') 100% 100% no-repeat; opacity:1">
    <div>
        <div style="position: relative;
      margin: 200px auto;
      width: 600px;
      padding: 32px;
      font-weight: 300;
      color:#000;
      opacity:1;">
            <header>
                <h1 class="text-danger">Locked out.</h1>
                <p class="text-danger">Ваш аккаунт был заблокирован, пожалуйста попробуйте позднее.</p>
            </header>
        </div>
    </div>
</body>


