@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_RegLayout.cshtml";
}


<body style="background:url('../images/222.jpg') 100% 100% no-repeat; opacity:1">
    <div>
        <div style="position: relative;
      margin: 200px auto;
      width: 600px;
      padding: 32px;
      font-weight: 300;
      color:#000;
      opacity:1;">
            <h2>Подтверждение сброса пароля</h2>
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <h4>Подтверждение сброса пароля</h4>
                        <hr />
                        <p>
                            Ваш пароль был изменён. Пожалуйста авторизуйтесь под своей учётной записью.
                        </p>
                        <div class="col-md-10">
                            <a style="color:#333;" asp-controller="Account" asp-action="Login">
                                <button type="button" class="btn">Авторизация</button>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>