@model qVisitor.Models.qvOrder

@{
    ViewData["Title"] = "Create";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Создать заявку</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="btn-group btn-breadcrumb" style="padding-bottom:20px;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a asp-controller="qvOrders" asp-action="Index" class="btn btn-default">Заявки</a>
        <a href="#" class="btn btn-default"> Создать заявку</a>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Создать заявку
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form asp-action="Create">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="OrderStausid" class="col-md-2 control-label">Состояние заявки</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <select asp-for="OrderStausid" class="form-control" asp-items="ViewBag.OrderStausid"></select>
                                        <div class="input-group-btn ">
                                            <a asp-controller="qvOrderStatus" asp-action="Index" onclick="return showModal(this);">
                                                <button type="button" class="btn btn-default glyphicon glyphicon-cog" style="margin-top:-1px;" id="AdvertiserEditButton"></button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="OrderTypeid" class="col-md-2 control-label">Тип заявки</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <select asp-for="OrderTypeid" class="form-control" asp-items="ViewBag.OrderTypeid"></select>
                                        <div class="input-group-btn ">
                                            <a asp-controller="qvOrderTypes" asp-action="Index" onclick="return showModal(this);">
                                                <button type="button" class="btn btn-default glyphicon glyphicon-cog" style="margin-top:-1px;" id="AdvertiserEditButton"></button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="StartDate" class="col-md-2 control-label">Дата начала действия заявки</label>
                                <div class="col-md-10">
                                    <input type="date" asp-for="StartDate" class="form-control" />
                                    <span asp-validation-for="StartDate" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="OpenTime" class="col-md-2 control-label">Время начала действия заявки</label>
                                <div class="col-md-10">
                                    <input type="time" asp-for="OpenTime" class="form-control" />
                                    <span asp-validation-for="OpenTime" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="EndDate" class="col-md-2 control-label">Дата окончания действия заявки</label>
                                <div class="col-md-10">
                                    <input type="date" asp-for="EndDate" class="form-control" />
                                    <span asp-validation-for="EndDate" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CloseTime" class="col-md-2 control-label">Время окончания действия заявки</label>
                                <div class="col-md-10">
                                    <input type="time" asp-for="CloseTime" class="form-control" />
                                    <span asp-validation-for="CloseTime" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Создать" class="btn" />
                                    <a style="color:#333;" asp-controller="qvOrders" asp-action="Index">
                                        <button type="button" class="btn">Отменить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.row -->

</div>

<style>
    .modal-window {
        display: none;
        position: absolute;
        z-index: 100;
        background: #f8f8f8;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #000000;
        left: 30%;
        top: 30%;
        width:830px;
        height:600px;
    }

    .modal-window-close {
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        right: 4px;
        top: 4px;
    }

    .modal-window-title {
        text-align: center;
        height:20px;
    }

    .modal-window-content {
        width:800px;
        height:600px;
        padding:5px;
    }
</style>

<script type="text/javascript">
    function showModal(self) {
        var modal = document.getElementById('modalWindow');
        var iframe = modal.getElementsByTagName('iframe')[0];
        iframe.src = self.href;
        modal.style.display = 'block';
        return false;
    }
</script>

<div id="modalWindow" class="modal-window">
    <div class="modal-window-close" onclick="this.parentNode.style.display='none';">X</div>
    <div class="modal-window-title"> </div>
    <div class="modal-window-content">
        <iframe src="about:blank" frameborder="0" style="width:800px;height:570px;"></iframe>
    </div>
</div>    


<!-- /.col-lg-6 -->
<!-- jQuery -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}