@model IndexViewModel
@{
    ViewData["Title"] = "Управление вашей учётной записью";
}

<div id="page-wrapper">
    <h2>@ViewData["Title"].</h2>
    <p class="text-success">@ViewData["StatusMessage"]</p>
    <div class="row">
        <div class="col-lg-12">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        <h4>Изменение параметров вашей учётной записи</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt style="font-size:20px; width: 180px;">Изменить пароль:</dt>
                            <dd>
                                @if (Model.HasPassword)
                                {
                                    <a style="color:#333;" asp-controller="Manage" asp-action="ChangePassword">
                                        <button type="button" class="btn" style="margin-left:10px;">Изменить пароль</button>
                                    </a>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
        </div>
    </div>
</div>
